<!-- <inputs></inputs>
<inputs2></inputs2>
<buttons></buttons>
<spinner></spinner>
<tooltip-tabs></tooltip-tabs>
 -->
 
 <h1 >
     SASS in Action
    </h1>
    <h2 >
        Another heading
    </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nam quam nemo maiores dolores cum, impedit accusantium explicabo, itaque expedita sunt tempora corrupti eius, quae aliquam ullam dignissimos dolore quaerat!</p>
    
    <button
   mat-raised-button
   (click) = "openDialog()"
    >Open Dialog</button>
    <br>
   <button mat-raised-button  color="primary">Yes</button>
   <button mat-raised-button  color="accent" cdkFocusInitial>Maybe</button>
   <button mat-raised-button color="warn">No</button>
   
   <br>
