<button 
mat-stroked-button color="warn"
matTooltip="Tooltip at before position"
matTooltipPosition = "before"
>Hover me to see the Tooltip in action</button>
<br>

<!--  zen coding:
  mat-tab-group>mat-tab[label=x]*2
-->
<mat-tab-group dynamicHeight selectedIndex="1">
  <mat-tab label="Billing">
    <b>Content of Billing tab.</b> <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ad exercitationem porro earum necessitatibus, nihil deserunt. Natus consequatur veritatis deleniti esse modi quis, perspiciatis harum placeat eaque, mollitia quas earum!
  </mat-tab>
  <mat-tab label="Quoting">
    <b>Content of Quoting tab.</b> <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ad exercitationem porro earum necessitatibus, nihil deserunt. Natus consequatur veritatis deleniti esse modi quis, perspiciatis harum placeat eaque, mollitia quas earum!
  </mat-tab>
  <mat-tab label="Shipping">
    <b>Content of Shipping tab.</b> <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ad exercitationem porro earum necessitatibus, nihil deserunt. Natus consequatur veritatis deleniti esse modi quis, perspiciatis harum placeat eaque, mollitia quas earum!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ad exercitationem porro earum necessitatibus, nihil deserunt. Natus consequatur veritatis deleniti esse modi quis, perspiciatis harum placeat eaque, mollitia quas earum!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ad exercitationem porro earum necessitatibus, nihil deserunt. Natus consequatur veritatis deleniti esse modi quis, perspiciatis harum placeat eaque, mollitia quas earum!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ad exercitationem porro earum necessitatibus, nihil deserunt. Natus consequatur veritatis deleniti esse modi quis, perspiciatis harum placeat eaque, mollitia quas earum!
  </mat-tab>
</mat-tab-group>
